<div class="page page-server-detail">

    <div class="title-container">
        <div class="content-wrapper">
            <div class="title-block">
                <span class="btn-back ui-image arrow-blue"></span>
                <div class="title">
                    <div class="server-name">
                        Gagarin
                    </div>
                    <div class="server-host">
                        999.999.999.999 <span>(tcp)</span>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="content-wrapper">
        <h2 class="subtitle">General stat</h2>
        <div class="graphics-container">
            <div class="graphic">
                <div class="graphic-content">

                </div>
            </div>
            <div class="graphic">
                <div class="graphic-content">

                </div>
            </div>
        </div>
        <div class="stats-container mt-60">
            <div class="stats-block">
                <div class="stats">
                    <div class="header">
                        <span class="title">Properties</span>
                    </div>
                    <div class="body">
                        <ul class="stats-list">
                            <li class="stats-item">
                                <span class="key">Balance:</span>
                                <span class="value">weight</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Max connections:</span>
                                <span class="value">Unlimited</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="stats-block">
                <div class="stats">
                    <div class="header">
                        <span class="title">Properties</span>
                    </div>
                    <div class="body">
                        <ul class="stats-list">
                            <li class="stats-item">
                                <span class="key">Balance:</span>
                                <span class="value">weight</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Max connections:</span>
                                <span class="value">Unlimited</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="stats-block">
                <div class="stats">
                    <div class="header">
                        <span class="title">Properties</span>
                    </div>
                    <div class="body">
                        <ul class="stats-list">
                            <li class="stats-item">
                                <span class="key">Balance:</span>
                                <span class="value">weight</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Max connections:</span>
                                <span class="value">Unlimited</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="stats-block">
                <div class="stats">
                    <div class="header">
                        <span class="title">Properties</span>
                    </div>
                    <div class="body">
                        <ul class="stats-list">
                            <li class="stats-item">
                                <span class="key">Balance:</span>
                                <span class="value">weight</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Max connections:</span>
                                <span class="value">Unlimited</span>
                            </li>
                            <li class="stats-item">
                                <span class="key">Client idle timeout</span>
                                <span class="value">10m</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <h2 class="subtitle">Backends</h2>
    </div>

    <ui-backends-table></ui-backends-table>

    <div class="content-wrapper mt-60">
        <div class="button-container left pb-60">
            <div class="button">Delete server</div>
        </div>
    </div>

</div>