
<div class="ui-table ui-backends-table">
    <div class="table-line" *ngFor="let row of rows| mapToIterable">
        <div class="content-wrapper">
            <div class="table-content">
                <div class="table-row">
                    <div class="table-column column-bind">
                        <div class="column-content h-left v-middle">
                            <i class="host"
                               [class.online]="row.value.stats.live"
                            ></i>&#160;
                            <span>{{row.value.settings.host}}:{{row.value.settings.port}}</span>
                        </div>
                    </div>
                    <div class="table-column column-connection">
                        <div class="column-content">
                            <span class="ui-image arrow-connection"></span>&#160;
                            <span>
                                {{row.value.stats.activeConnection}}
                            </span>
                        </div>
                    </div>
                    <div class="table-column column-rx">
                        <div class="column-content">
                            <div>
                                <div class="text-align-center">
                                    <span class="measure">rx</span>
                                </div>
                                <span class="ui-image"
                                      [class.arrow-gray]="row.value.getStatsTrend('rx') == 0"
                                      [class.arrow-red]="row.value.getStatsTrend('rx') < 0"
                                      [class.arrow-green]="row.value.getStatsTrend('rx') > 0"
                                ></span>&#160;
                                <span>{{row.value.stats.rxSecond | statsPipe}}</span>
                                <span class="measure">{{row.value.stats.rxSecond | statsPipe:'unit'}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-column column-tx">
                        <div class="column-content h-wrap">
                            <div>
                                <div class="text-align-center">
                                    <span class="measure">tx</span>
                                </div>
                                <span class="ui-image"
                                      [class.arrow-gray]="row.value.getStatsTrend('rx') == 0"
                                      [class.arrow-red]="row.value.getStatsTrend('tx') < 0"
                                      [class.arrow-green]="row.value.getStatsTrend('tx') > 0"
                                ></span>&#160;
                                <span>{{row.value.stats.txSecond | statsPipe}}</span>
                                <span class="measure">{{row.value.stats.txSecond | statsPipe:'unit'}}</span>
                            </div>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="btn-detail">
                    <a class="ui-image arrow-blue"></a>
                </div>
            </div>
        </div>
    </div>

</div>