

ui-backends-table{

  .ui-backends-table{
    .table-column{

      &.column-bind{
        width: 40%;
      }

      &.column-connection{
        width: 15%;
      }
      &.column-rx{
        width: 15%;
      }
      &.column-tx{
        width: 30%;
      }
    }

    .host{
      display: inline-block;
      width: 12px;
      height: 12px;
      background-color: #333;
      border-radius: 6px;

      &.online{
        background-color: #3ac333;
      }
    }
  }

}

@media screen and (max-width: 980px){

  ui-backends-table {

    .ui-backends-table {
      .column-content {
        font-size: 15px;

      }

      .table-column {

        &.column-bind {
          width: 27%;
        }
      }

      .host {
        width: 9px;
        height: 9px;
      }
    }
  }
}


@media screen and (max-width: 480px){

  ui-backends-table{

    .ui-backends-table {
      .content-wrapper {
        padding: 0 0;
      }

      .table-line {
        border-top: none;
        &:last-child {
          border-bottom: none;
        }
      }

      .table-column {
        border-bottom: solid 1px #bfbfbf;
        padding: 0 10px;

        &:before {
          display: none;
        }

        &.column-bind {
          width: 100%;
        }

        &.column-connection {
          width: 15%;
        }

        &.column-rx {
          width: 15%;
        }

        &.column-tx {
          width: 30%;
        }

      }
    }
  }
}