ui-radio-buttons{
  display: block;
  color: #585858;

  font-family: source_sans_proregular;
  font-size: 19px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;

  .radio{
    display: block;
    text-align: left;
    cursor: pointer;

    &:not(:last-child){
      margin-bottom: 13px;
    }

    &.active{
      >i:before{
        content: " ";
      }
    }

    >*{
      display: inline-block;
      vertical-align: middle;
    }

    >i{
      display: inline-block;
      width: 20px;
      height: 20px;

      border: solid 1px #585858;
      border-radius: 50%;

      position: relative;

    }

    >i:before{
      display: block;
      width: 14px;
      height: 14px;
      background: #585858;
      border-radius: 50%;
      left: 3px;
      top: 3px;
      position: relative;
    }

    >span{
      margin-left: 13px;
    }
  }

}