<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Bind</th>
                    <th>Proto</th>
                    <th>Discovery</th>
                    <th>Active connections</th>
                    <th>Rx</th>
                    <th>Tx</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let server of servers| mapToIterable | sort:sortBy:sortOrder">
                        <td>{{server.key}}</td>
                        <td>{{server.value.bind}}</td>
                        <td>{{server.value.protocol}}</td>
                        <td>{{server.value.discovery?.kind}}</td>
                        <td>{{server.value.stats?.active_connections}}</td>
                        <td>{{server.value.stats?.rx_total}}</td>
                        <td>{{server.value.stats?.tx_total}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>