@font-face {
  font-family: 'varela_roundregular';
  src: url('../fonts/varelaround-regular-webfont.woff2') format('woff2'),
  url('../fonts/varelaround-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_problack';
  src: url('../fonts/sourcesanspro-black-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-black-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_problack_italic';
  src: url('../fonts/sourcesanspro-blackit-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-blackit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_probold';
  src: url('../fonts/sourcesanspro-bold-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_probold_italic';
  src: url('../fonts/sourcesanspro-boldit-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-boldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proextralight';
  src: url('../fonts/sourcesanspro-extralight-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-extralight-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proXLtIt';
  src: url('../fonts/sourcesanspro-extralightit-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-extralightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_proitalic';
  src: url('../fonts/sourcesanspro-it-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-it-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_prolight';
  src: url('../fonts/sourcesanspro-light-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'source_sans_prolight_italic';
  src: url('../fonts/sourcesanspro-lightit-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-lightit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_proregular';
  src: url('../fonts/sourcesanspro-regular-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_prosemibold';
  src: url('../fonts/sourcesanspro-semibold-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}


@font-face {
  font-family: 'source_sans_proSBdIt';
  src: url('../fonts/sourcesanspro-semiboldit-webfont.woff2') format('woff2'),
  url('../fonts/sourcesanspro-semiboldit-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}