.page-about{


  .title{
    font-family: source_sans_probold;
    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #0163b4;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
  }

  .config-list{
    overflow-y: auto;
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    font-family: source_sans_proregular;
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #585858;


    .item{
      background-color: #fbfbfb;
      padding: 8px 13px;

      &:nth-child(even) {
        background-color: #efefef;
      }
    }

    .value{
      font-family: source_sans_probold;
      padding-left: 5px;
    }

    .key{
      display: inline-block;
      min-width: 120px;
    }
  }


}


@media screen and(max-width: 480px){

  .page-about{
    .config-list{
      font-size: 18px;
      .key{
        min-width: 90px;
      }
    }
  }
}