<header class="ui-header">
    <div class="content-wrapper">
        <div class="header-content">
            <div class="content-left">
                <a class="logo-container" href="#">
                    <img src="../assets/images/Logo.svg">
                </a>
            </div>
            <div class="content-right">
                <div class="navigation">
                    <a class="item" routerLink="/info" routerLinkActive="active">Add new server</a>
                    <a class="item" routerLink="/servers" routerLinkActive="active">Dump config</a>
                    <a class="item" routerLink="/about" routerLinkActive="active">About</a>
                </div>
            </div>
        </div>
    </div>
</header>