
<div class="ui-table ui-servers-table">
    <div class="table-line" *ngFor="let row of rows| mapToIterable | sort:sortBy:sortOrder">
        <div class="content-wrapper">
            <div class="table-content">
                <div class="table-row">
                    <div class="table-column column-name">
                        <div class="column-content h-left">
                            <span class="server-name">{{row.key}}</span>
                        </div>
                    </div>
                    <div class="table-column column-bind">
                        <div class="column-content">
                            <span> {{row.value.settings.bind}}</span>
                        </div>
                    </div>
                    <div class="table-column column-protocol without-border">
                        <div class="column-content">
                            <span class="measure">{{row.value.settings.protocol}}</span>
                        </div>
                    </div>
                    <div class="table-column column-connection">
                        <div class="column-content">
                            <span class="ui-image arrow-connection"></span>&#160;
                            <span>
                                {{row.value.stats?.activeConnections}}
                            </span>
                        </div>
                    </div>
                    <div class="table-column column-rx">
                        <div class="column-content">
                            <div>
                                <div class="text-align-center">
                                    <span class="measure">rx</span>
                                </div>
                                <span class="ui-image"
                                      [class.arrow-red]="row.value.getStatsTrend('rx') < 0"
                                      [class.arrow-green]="row.value.getStatsTrend('rx') >= 0"
                                ></span>&#160;
                                <span>{{row.value.stats?.rxSecond}}</span>
                                <span class="measure">mb/s</span>
                            </div>
                        </div>
                    </div>
                    <div class="table-column column-tx">
                        <div class="column-content h-wrap">
                            <div>
                                <div class="text-align-center">
                                    <span class="measure">tx</span>
                                </div>
                                <span class="ui-image"
                                      [class.arrow-red]="row.value.getStatsTrend('tx') < 0"
                                      [class.arrow-green]="row.value.getStatsTrend('tx') >= 0"
                                ></span>&#160;
                                <span>{{row.value.stats?.txSecond}}</span>
                                <span class="measure">mb/s</span>
                            </div>
                            <span></span>
                        </div>
                    </div>
                </div>
                <div class="btn-detail">
                    <a class="ui-image arrow-blue" routerLink="/info" routerLinkActive="active"></a>
                </div>
            </div>
        </div>
    </div>

</div>