<div [ngClass]="{'ui-popup-wrapper':true, 'ui-sort-popup': true, 'show': opened }">
    <div class="background" (click)="closePopup()"></div>
    <div class="popup">
        <div class="popup-content">
            <div class="title">Sorted by</div>

            <ui-radio-buttons [arrOptions]="sorting.arrFiends" (onChangeSelected)="selectedField = $event"></ui-radio-buttons>
            <ui-drop-down [arrOptions]="sorting.arrOrders" (onChangeSelected)="selectedOrder = $event"></ui-drop-down>

            <div class="button-container space-between">
                <div class="button blue" (click)="applySorting($event)">Apply</div>
                <div class="button" (click)="closePopup($event)" >Discart</div>
            </div>
        </div>
        <div class="btn-close" (click)="closePopup($event)"></div>
    </div>
</div>