<div class="page page-servers">

    <div *ngIf="!ready" class="content-wrapper">
        <ui-preloader></ui-preloader>
    </div>

    <div *ngIf="ready" class="content-wrapper">
        <div class="sort-block" *ngIf="serverSorting" (click)="onClickSort($event)">
            <div class="sort-label">Sorted by:</div><br/>
            <div class="field-name">{{serverSorting.sortBy.label}}</div>
        </div>
        <div>
            <ui-servers-table [rows]="servers" [sortBy]="serverSorting.sortBy.value" [sortOrder]="serverSorting.sortOrder"></ui-servers-table>
        </div>
    </div>
</div>