

.ui-servers-table{
  display: block;

  font-family: varela_roundregular;

  .table-line{
    display: block;
    background-color: #fafafa;
    border-top: solid 1px #bfbfbf;
    box-sizing: border-box;

    &:nth-child(odd){
      background-color: #efefef;
    }
    &:last-child{
      border-bottom: solid 1px #bfbfbf;
    }
  }

  .table-row{
    display: flex;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
  }

  .table-column{
    display: block;
    flex-grow: 1;
    box-sizing: border-box;
    position: relative;

    &.column-name{
      width: 20%;
    }
    &.column-bind{
      width: 20%;
    }
    &.column-protocol{
      width: 5%;
    }
    &.column-discovery{
      width: 13.33%;
    }
    &.column-connection{
      width: 13.33%;
    }
    &.column-rx{
      width: 13.33%;
    }
    &.column-tx{
      width: 20%;
    }

    &:before{
      display: block;
      content: "";
      width: 2px;
      height: 36px;
      background: #d9d9d9;
      position: absolute;
      top: 12px;
      left: 0;
      right: auto;
    }

    &:first-child, &.without-border{
      &:before{
        display: none;
      }
    }
  }

  .column-content{
    display: flex;
    height: 60px;
    justify-content: center;
    align-items: center;

    font-size: 19px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    color: #585858;


    &.left{
      justify-content: flex-start;
    }

    &.space-around{
      justify-content: space-around;
    }
  }

  .table-content{
    display: block;
    position: relative;
  }

  .measure{
    font-family: source_sans_prolight;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    color: #585858;
  }

  .server-name{
    color: #0163b4;
  }

  .btn-detail{
    cursor: pointer;
    position: absolute;
    top: 18px;
    right: 10px;

    >.ui-image{
      position: relative;
      left: 0;
      transition: left 250ms;
    }

    &:hover{

      >.ui-image{
        left: -10px;
      }
    }
  }
}

@media screen and (max-width: 980px){

  .ui-table{

    .column-content{
      font-size: 15px;

    }

    .table-column{

      &.column-name{
        width: 13%;
      }
      &.column-bind{
        width: 27%;
      }
    }
  }
}


@media screen and (max-width: 480px){

  .ui-table{

    .content-wrapper{
      padding: 0 0;
    }

    .table-line{
      border-top: none;
      &:last-child{
        border-bottom: none;
      }
    }


    .table-column{
      border-bottom: solid 1px #bfbfbf;
      padding: 0 10px;

      &:before{
        display: none;
      }

      &.column-name{
        width: 100%;
      }

      &.column-bind{
        width: 70%;
      }

      &.column-protocol{
        width: 30%;
      }
    }
  }
}