
.ui-sort-popup{

  .popup{
      padding-top: 30px;
      padding-bottom: 60px;
      padding-left: 10px;
      padding-right: 10px;
  }

  .popup-content{
      display: block;
      width: 260px;
      margin: 0 auto;
  }

  .title{
    font-size: 19px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    text-align: center;
    color: #0163b4;
    font-family: source_sans_proregular;

    margin-bottom: 60px;
  }

  .button-container{
    margin-top: 30px;
  }

}